---
import BlogCard from "@/components/cards/blog-card.astro";
import DocsPageHeader from "@/components/page-header.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getPosts } from "@/lib/fetchers";

const posts = await getPosts();
---

<MainLayout title="Blog" mainClass="container max-w-6xl py-10">
  <DocsPageHeader
    heading="Blogs"
    text=""
  />
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
  >
    {posts.map((post) => <BlogCard {...post} />)}
  </div>
</MainLayout>
