---
// import Main from "../components/layout/main.astro"
import NavBar from '../components/navbar.astro'
import Hero from '../components/hero.astro'
import Footer from '../components/footer.astro'
---


<main class="text-dark w-full min-h-screen bg-light">

        <NavBar />
        <Hero />
        <Footer />
        </main>

