---
import MainLayout from "@/layouts/main-layout.astro";
import { projects } from "@/constants/projects";
import DocsPageHeader from "@/components/page-header.astro";
import ProjectCard from "@/components/cards/project-card.astro";
---

<MainLayout
  title="Resources"
  description="Top Development Resources"
  mainClass="container max-w-6xl py-10"
>
  <DocsPageHeader heading="Projects" text="" />
  <div class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {projects?.map((i) => <ProjectCard item={i} />)}
  </div>
</MainLayout>
