---
import MainLayout from "@/layouts/main-layout.astro";
import { resources } from "@/constants/resources";
import {Card, CardTitle, CardDescription} from "@/components/ui/card"
import DocsPageHeader from "@/components/page-header.astro";
import ResourceCard from "@/components/cards/resource-card.astro";
---

<MainLayout
  title="Resources"
  description="Top Development Resources"
  mainClass="container max-w-6xl py-10"
>
  <DocsPageHeader
    heading="Top Development Resources"
    text="For years, these websites have been my go-to for mastering app development and solving tough challenges. Whether you're debugging or brainstorming, these resources offer the tools and insights you need to succeed! 💻🔥"
  />
  <div class="mt-8">
    {
      resources?.map((item) => (
        <h1 class="font-bold text-xl mt-8">{item?.label}</h1>
        <div class="grid md:grid-cols-3 grid-cols-1 mt-4 gap-4">
        {item?.items?.map((i) => (
            <ResourceCard item={i} />
        ))}
        </div>
      ))
    }
  </div>
</MainLayout>
