---
import NavBar from '../components/navbar.astro'
import {Timer} from '../components/timer'
---

<main class="text-dark w-full min-h-screen bg-light">
    <NavBar />
    <div class="flex flex-col items-center mt-12">
        <h2 class="text-5xl mb-20">Rise And Shine</h2>
        <Timer client:load/>
    </div>
</main>
