---
import { AnimatedText } from "./atoms/AnimatedText";
---

<div class="w-full h-full inline-block z-0 p-32">
    <div class="flex items-center justify-between w-full">
        <div class="w-1/2">
            <img src="profile.jpeg" alt="Yokesh Profile Photo" width="90%" height="90%">
        </div>
        <div class="w-1/2">
            <AnimatedText text="Revolutionizing digital with responsive design." className="!text-6xl !text-left" client:load />
            <p class="my-4 text-base font-medium">As a passionate Full Stack Web Developer, I strive to transform ideas into innovative web applications using responsive website design. Explore my latest projects and articles</p>
        </div>
    </div>
</div>