---
import { Logo } from "./atoms/Logo";
import { CustomLink } from "./atoms/CustomLink";
import { SocialIcon } from "./atoms/SocialIcon";
import { SocialLinkData } from "../constants/socailLinkData";

---

<header class="w-full px-32 py-8 flex justify-between items-center">
    <nav>
        <CustomLink href="/" className="mr-4" title="Home"/>
        <CustomLink href="/" className="mr-4" title="About"/>
        <CustomLink href="/" className="mr-4" title="Projects" />
    </nav>

    <nav class="flex items-center justify-center">
    {SocialLinkData.map((item) => <SocialIcon name={item.name} href={item.link} client:load/>)}
    </nav>

    <div class="absolute left-[50%] top-2 translate-x-[-50%]">
        <Logo client:load/>
    </div>
</header>